{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block carousel %}
{% endblock carousel %}

{% block main %}

<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center">
        <div class="col-6">
            <div class="card p-4 shadow">
                <h2 class="text-center">
                    {{ title }}
                </h2>
                <form action="" method="post">
                    <h5>Вы точно хотите удалить рецепт: {{ recipe.title }} ?</h5>
                    <br>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-lg" value="Да, удалить !">
                    <a href="{% url 'recipe_detail' recipe.pk %}" class="btn btn-success btn-lg">
                        Назад
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main %}